<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Agregar</h4>
  <button type="button" (click)="cerrarModal()" class="btn btn-icon btn-danger btn-close-modal">
    Cerrar<i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>
<!-- Modal Producto -->
<div class="modal-body">
  <form [formGroup]="formProducto">
    <div class="form-row">
      <div class="input-group pr-0 mb-1">
        <div class="col-12 input-group">         
          <div class="form-group col-sm-12 sol-md-6 col-lg-6 col-xl-6">
            <label>Nombre</label>
            <input id="nomProducto" type="text" formControlName="nomProducto" placeholder="Nombre" maxlength="100"
                   class="form-control  text-right">
          </div>
          <div class="form-group col-sm-12 sol-md-6 col-lg-6 col-xl-6">
            <label>Tarifa Descuento</label>
            <input id="tariDescuento" type="text" formControlName="tariDescuento" placeholder="Tarifa Descuento"
                   maxlength="2" class="form-control  text-right">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


<div class="modal-footer">
  <button (click)="AgregarProducto()" type="button" class="btn btn-outline-success btn-block">
    Agregar
  </button>
</div>
