<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <h4 class="display-4">Prueba Desarrollador Globaltek</h4>
    <p>
      GLOBALTEK DEVELOPMENT es una compañía que ofrece el servicio de Outsourcing de Tecnología de la Información, principalmente para Recursos Humanos Especializados, Soluciones de Desarrollo y Facilidades para clientes locales y globales.
    </p>
    <p>
      Adicionalmente cuenta con una Fábrica de Software que ofrece servicios de Desarrollo de Software a la Medida, Productos de Caja, Soluciones para dispositivos móviles, Soluciones SaaS (Software como Servicio), Soluciones de Automatización, Consultoría y Suministro de Infraestructura.
    </p>
    <p>
      Nació con el apoyo de tres diferentes empresas: Globaltek Security S.A. (GTS), MVA y Vipware Ltda. que aunaron esfuerzos para construir una Compañía que ofrece y entrega diferentes tipos de productos y servicios a sus clientes.
    </p>
    <p style="text-align: center;">
      <img src="../../assets/globaltek.png" sizes="100%" >
    </p>
  </div>
</div>
